*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #24c4cf;
}

main{
  
    margin: auto;
}

.profile{
    background-color: #000;
    
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 294px;
    width: 1200px;
}

.profile-photo{
    margin-top: 16px;
    width: 285px;
}
.border{
    border: 6px solid #24c4cf;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    margin: auto;
}


.profile-photo img{
    
    background-image: url('/assets/images/maxoliveira.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-data{
    
    display: flex;
    flex-direction: column;

    width:855px;
}

.name h1{
    margin-bottom: 5px;
}

.name h1{
    font-size: 35px;
    color: white;
}

.profile-describe{
    display: flex;
    
}

.work{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.work-title{
    width: 428px;
}
.work-title h2{
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-infor{
    display: flex;
}

.profile-infor p{
 
}

.infor-hiring{
    width: 285px;
}
.sociais img{
    width: 25px;
}

.infor-availability p, .profile-infor p{
    margin-bottom: 10px;
    font-size: 12px;
}